<p id="notice"><%= notice %></p>

<h1>Listing Non Donors</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Message</th>
      <th>Newsletter ok</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @non_donors.each do |non_donor| %>
      <tr>
        <td><%= non_donor.email %></td>
        <td><%= non_donor.message %></td>
        <td><%= non_donor.newsletter_ok %></td>
        <td><%= link_to 'Show', non_donor %></td>
        <td><%= link_to 'Edit', edit_non_donor_path(non_donor) %></td>
        <td><%= link_to 'Destroy', non_donor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Non donor', new_non_donor_path %>
