

<script>
  $('#admin-nav').find('a').removeClass('active');
  $('#logs-tab').addClass('active');
</script>

<p class="text-info"> <i class="fa fa-info-circle"></i> All data below reflects <strong>only Open Biome logs</strong>.</p>

<%
	# arrays of floats(?)
	transport_times = [] #passage -> receiving
	holding_times = [] #between receiving and starting
	processing_times = [] #start -> finish
	lifecycle_times = [] #passage -> finish

	@open_biome_logs.processed.each do |log|
		transport_times.append((log.time_received - log.time_of_passage))
		holding_times.append((log.time_started - log.time_received))
		processing_times.append((log.time_finished - log.time_started))
		lifecycle_times.append((log.time_finished - log.time_of_passage))
	end
%>


<div class="row text-xs-center p-y-2">
<p>
	
</p>
	<div class="col-sm-3">
		<p class="text-muted">
		<i class="fa fa-bicycle"></i>&nbsp;
		~ transport time</p>
		<h2 class="mocha">
			<i class="fa fa-plus "></i>&nbsp;
			<%= transport_times.map{|t| (t/60).to_f }.mean.round %>	min
		</h2>
	</div>
	<div class="col-sm-3">
		<p class="text-muted">
		<i class="fa fa-pause"></i>&nbsp;
		~ holding time</p>
		<h2 class="mocha">
			<i class="fa fa-plus "></i>&nbsp;
			<%= holding_times.map{|t| (t/60).to_f }.mean.round %>	min
		</h2>
	</div>
	<div class="col-sm-3">
		<p class="text-muted">
		<i class="fa fa-wrench"></i>&nbsp;
		~ processing time</p>
		<h2 class="mocha">
			<i class="fa fa-plus "></i>&nbsp;
			<%= processing_times.map{|t| (t/60).to_f }.mean.round %>	min
		</h2>
	</div>
	<div class="col-sm-3">
		<p class="text-muted">
		∑&nbsp;
		~ lifecycle time</p>
		<h2 class="mocha">
			<strong>=</strong>&nbsp;
			<%= lifecycle_times.map{|t| (t/60).to_f }.mean.round %>	min
		</h2>
	</div>
</div>



<p class="text-muted m-t-3">Sum weight (grams) daily for <span class="text-success">processed</span> donations</p>
<div class="row p-t-3">
	<%= line_chart @open_biome_logs.processed.group_by_day(:time_finished).sum(:weight), library: {chart: {zoomType: 'x'}, xAxis: {type: 'datetime'}}, colors: ['#5cb85c']
		%>	
</div>

<p class="text-muted m-t-3">Bristol weekly</p>
<div class="row p-t-3">
	<div class="col-sm-9">
		<%= column_chart @open_biome_logs.order('bristol_score ASC').group(:bristol_score).group_by_week(:time_of_passage).count, stacked: true, library: {chart: {zoomType: 'x'}, xAxis: {type: 'datetime', tickInterval: 5}}, colors: [
				"#5C2E00",
				"#703800", 
				'#854200', 
				'#9A4D00', 
				'#AB5500', 
				'#BC5D00', 
				'#CD6600'
			] 
			%>	
	</div>
	<div class="col-sm-3">
		<p class="text-muted"><em>Overall</em></p>
		<%= pie_chart @open_biome_logs.order('bristol_score ASC').group(:bristol_score).count, colors: [
				"#5C2E00",
				"#703800", 
				'#854200', 
				'#9A4D00', 
				'#AB5500', 
				'#BC5D00', 
				'#CD6600'
			] 
			%>	
	</div>
</div>

<p class="text-muted m-t-3">Processed vs. rejected weekly</p>
<div class="row p-t-3">
	<div class="col-sm-9">
	<%= line_chart @open_biome_logs.group(:processing_state).group_by_week(:time_of_passage).count, library: {chart: {zoomType: 'x'}, xAxis: {type: 'datetime'}}, colors: ['#5cb85c', '#d9534f']
		%>	

	</div>

	<div class="col-sm-3">
		<p class="text-muted"><em>Overall</em></p>
		<%= pie_chart @open_biome_logs.where.not(processing_state: '').group(:processing_state).count, colors: ['#5cb85c', '#d9534f']
			%>	
	</div>
</div>

<p class="text-muted m-t-3">Products created weekly</p>
<div class="row p-t-3">
	<div class="col-sm-9">
	<%= line_chart @open_biome_logs.processed.order('product ASC').group(:product).group_by_week(:time_finished).count, library: {chart: {zoomType: 'x'}, xAxis: {type: 'datetime'}}, colors: [
			
			'#5bc0de', #250
			'#804000', #enema
			'#f0ad4e', # gelatin caps
			'#0275d8' # screening
			
			] %>
	</div>
	<div class="col-sm-3">
		<p class="text-muted"><em>Overall</em></p>
		<%= pie_chart @open_biome_logs.processed.order('product ASC').group(:product).count, colors: [
			
			'#5bc0de', #250
			'#804000', #enema
			'#f0ad4e', # gelatin caps
			'#0275d8' # screening
			
			] %>
	</div>
</div>


